***
# <font color=darkgreen size=10>Relatorio de análise descritiva</font>
## <font color=darkgreen size=6>"State of Data 2021"</font>
###  *Parte 1*
***

## <font color=#64ad49 >1 - Base de dados</font>


Este banco de dados contem informações sobre o panorama do mercado de trabalho brasileiro na área de dados no ano de 2021.

- [**Dados**](https://www.kaggle.com/datasets/datahackers/state-of-data-2021)

####  <font color=#64ad49 >1.1 - Importando a base de dados</font>

In [2]:
import numpy as np
import pandas as pd

In [3]:
dados = pd.read_csv('State_of_Data_2021.csv', sep = ",")
# pd.set_option('display.max_rows',10)
# pd.set_option('display.max_columns', 20)
dados.head()

C:\Users\Ronaldo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_a ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_e ', 'Estado onde mora')","('P1_e_a ', 'uf onde mora')","('P1_e_b ', 'Regiao onde mora')","('P1_g_b ', 'Regiao de origem')","('P1_g_c ', 'Mudou de Estado?')","('P1_h ', 'Nivel de Ensino')",...,"('P8_d_g ', 'Criando e dando manutenção em ETLs, DAGs e automações de pipelines de dados.')","('P8_d_h ', 'Criando e gerenciando soluções de Feature Store e cultura de MLOps.')","('P8_d_i ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')","('P9_a ', 'Quais das iniciativas do Data Hackers que você já acessou/acompanhou?')","('P9_a_a ', 'Blog/Medium do Data Hackers')","('P9_a_b ', 'Podcast do Data Hackers')","('P9_a_d ', 'Newsletter Semanal')","('P9_a_e ', 'Canal do Slack')","('P9_a_f ', 'Canal do Youtube do Data Hackers')","('P9_a_g ', 'Ainda não conhecia o Data Hackers')"
0,qkx4q0ei90wcjxnqkx4q0j3xgf0zn13s,38.0,35-39,Masculino,Ceará (CE),CE,Nordeste,NaN,0,Pós-graduação,...,NaN,NaN,NaN,"Newsletter Semanal, Podcast do Data Hackers",0,1,1,0,0,0
1,zdl2n19yhgpnoaco6kkczdl2nwv9zwrt,39.0,35-39,Masculino,Bahia (BA),BA,Nordeste,Sudeste,1,Pós-graduação,...,NaN,NaN,NaN,"Newsletter Semanal, Blog/Medium do Data Hackers",1,0,1,0,0,0
2,vsamqp2un3q7us84mgvsams5fulsmcoh,30.0,30-34,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,...,NaN,NaN,NaN,"Blog/Medium do Data Hackers, Podcast do Data H...",1,1,0,0,0,0
3,v31ab41botodnsv31zgg4k34zzojy81l,38.0,35-39,Feminino,São Paulo (SP),SP,Sudeste,NaN,0,Pós-graduação,...,NaN,NaN,NaN,Ainda não conhecia o Data Hackers,0,0,0,0,0,1
4,ubhu8ntvm4xc0sfkdubhu80e973eek0k,36.0,35-39,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,...,NaN,NaN,NaN,"Podcast do Data Hackers, Canal do Slack, Newsl...",0,1,1,1,0,0

<font color=#b82a2a >É possivel observar que os dados brutos contém muitas variáveis e seus nomes estão desformatados</font>

####  <font color=#64ad49 >1.2 - Selecionando as colunas de interesse e mudando os nomes das variáveis</font>

In [4]:
dados_news = dados.iloc[:,1:15] #Selecionando colunas
dados_news.head()

,"('P1_a ', 'Idade')","('P1_a_a ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_e ', 'Estado onde mora')","('P1_e_a ', 'uf onde mora')","('P1_e_b ', 'Regiao onde mora')","('P1_g_b ', 'Regiao de origem')","('P1_g_c ', 'Mudou de Estado?')","('P1_h ', 'Nivel de Ensino')","('P1_i ', 'Área de Formação')","('P2_a ', 'Qual sua situação atual de trabalho?')","('P2_b ', 'Setor')","('P2_c ', 'Numero de Funcionarios')","('P2_d ', 'Gestor?')"
0,38.0,35-39,Masculino,Ceará (CE),CE,Nordeste,NaN,0,Pós-graduação,Química / Física,Empregado (CLT),Marketing,de 101 a 500,1.0
1,39.0,35-39,Masculino,Bahia (BA),BA,Nordeste,Sudeste,1,Pós-graduação,Economia/ Administração / Contabilidade / Fina...,Empreendedor ou Empregado (CNPJ),Consultoria,de 1 a 5,1.0
2,30.0,30-34,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Indústria,de 1001 a 3000,1.0
3,38.0,35-39,Feminino,São Paulo (SP),SP,Sudeste,NaN,0,Pós-graduação,Outras,Empreendedor ou Empregado (CNPJ),Serviços,de 1001 a 3000,1.0
4,36.0,35-39,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,Outras Engenharias,Empreendedor ou Empregado (CNPJ),Varejo,de 6 a 10,1.0

In [5]:
dados_news.columns = ["idade", "faixa_idade", "genero","estado_onde_mora","uf onde mora",
                      "regiao_onde_mora","regiao_de_origem","mudou_de_estado","nivel_de_ensino",
                      "area_de_formação","qual_sua_situação_atual_de_trabalho?","setor",
                      "numero_de_Funcionarios","gestor"]  # Novos nomes

dados_news.head()

,idade,faixa_idade,genero,estado_onde_mora,uf onde mora,regiao_onde_mora,regiao_de_origem,mudou_de_estado,nivel_de_ensino,area_de_formação,qual_sua_situação_atual_de_trabalho?,setor,numero_de_Funcionarios,gestor
0,38.0,35-39,Masculino,Ceará (CE),CE,Nordeste,NaN,0,Pós-graduação,Química / Física,Empregado (CLT),Marketing,de 101 a 500,1.0
1,39.0,35-39,Masculino,Bahia (BA),BA,Nordeste,Sudeste,1,Pós-graduação,Economia/ Administração / Contabilidade / Fina...,Empreendedor ou Empregado (CNPJ),Consultoria,de 1 a 5,1.0
2,30.0,30-34,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Indústria,de 1001 a 3000,1.0
3,38.0,35-39,Feminino,São Paulo (SP),SP,Sudeste,NaN,0,Pós-graduação,Outras,Empreendedor ou Empregado (CNPJ),Serviços,de 1001 a 3000,1.0
4,36.0,35-39,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,Outras Engenharias,Empreendedor ou Empregado (CNPJ),Varejo,de 6 a 10,1.0

####  <font color=#64ad49 >1.3 - Informações gerais da base de dados</font>

In [131]:
dados_news.info()

# Podemos observar: 
#   o número de variáveis;
#   o nome das variáveis;
#   quantos registros são 'não nulos';
#   seu tipo.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2645 entries, 0 to 2644
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   idade                                 2617 non-null   float64
 1   faixa_idade                           2645 non-null   object
 2   genero                                2645 non-null   object
 3   estado_onde_mora                      2609 non-null   object
 4   uf onde mora                          2609 non-null   object
 5   regiao_onde_mora                      2645 non-null   object
 6   regiao_de_origem                      484 non-null    object
 7   mudou_de_estado                       2645 non-null   int64
 8   nivel_de_ensino                       2645 non-null   object
 9   area_de_formação                      2581 non-null   object
 10  qual_sua_situação_atual_de_trabalho?  2645 non-null   object
 11  setor                                 2365 non-null   object
 12  numero_de_Funcionarios                2365 non-null   object
 13  gestor                                2365 non-null   float64
dtypes: float64(2), int64(1), object(11)
memory usage: 289.4+ KB

#### <font color=#64ad49 >1.4 - Fazendo uma tabela mais 'bonita' e que  contém a descrição das variáveis</font>

In [54]:
dic_var = ["Idade","Faixa de idade em que se encontra atualmente","Gênero","Estado onde mora",
           "UF onde mora","Região onde mora","Região de origem","Mudou de estado?","Nivel de formação",
           "Área em que se formou","Situação de trabalho","Setor em que trabalha",
           "Número de funcionarios do local em que trabalha","É gestor?"]

In [124]:
tipos_de_dados = pd.DataFrame(dados_news.dtypes, columns = ["Tipos de Dados"])   # Para o gestor 
tipos_de_dados.columns.name = ""
tipos_de_dados["Descrição"] = np.array(dic_var)
tipos_de_dados = tipos_de_dados.rename_axis('Variáveis').reset_index()
tipos_de_dados

,Variáveis,Tipos de Dados,Descrição
0,idade,float64,Idade da pessoa
1,faixa_idade,object,faixa de idade em que ela se encontra atualmente
2,genero,object,Gênero
3,estado_onde_mora,object,Estado onde mora
4,uf onde mora,object,UF onde mora
5,regiao_onde_mora,object,Região onde mora
6,regiao_de_origem,object,Região de origem
7,mudou_de_estado,int64,Mudou de estado?
8,nivel_de_ensino,object,Nivel de formação
9,area_de_formação,object,Área em que se formou
10,qual_sua_situação_atual_de_trabalho?,object,Situação de trabalho
11,setor,object,Setor em que trabalha
12,numero_de_Funcionarios,object,Número de funcionarios do local em que trabalha
13,gestor,float64,É gestor?

In [86]:
linhas = dados_news.shape[0]
colunas = dados_news.shape[1]
print(f"O banco de dados contém {colunas} variáveis e {linhas} registros.")

O banco de dados contém 14 variáveis e 2645 registros.

####   <font color=#64ad49 >Exportando</font>

In [202]:
dados_news.to_csv('dados_states_parte_2.csv', sep = ';', index = False)  #Tirando o index